body {
    background: #2572be;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(245, 246, 248);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.btn-circle.btn-lg,
.btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}

.text-muted {
    color: #8898aa!important;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
}

.dp {
    width: 3rem !important;
    height: 3rem !important;
    object-fit: cover !important;
    object-position: center !important;
    border-radius: 50px !important;
    overflow: hidden;
    transition: .6s linear;
}

.tc {
    text-align: center;
}

.jnilrnd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bd {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

#searchbar {
    display: flex;
    justify-content: space-between;
}